@{
    ViewData["Title"] = "Home Page";
}


<div class="alert h1 text-center alert-primary" role="alert">

 <p>Cur Buy Karo</p>
    <img width="900px" height="400px"  src="~/image/jon-koop-khYVyHiNZo0-unsplash.jpg" />
 
</div>
