@model CarBuyKaro.Models.Card

@{
    ViewData["Title"] = "Create";
}
<html>
    <body>

   
<h1>Create</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              <!--  <label asp-for="Image_Path" class="control-label"></label>
                <input asp-for="Image_Path" accept="image/*" class="form-control" />
                <span asp-validation-for="Image_Path" class="text-danger"></span>
                  -->
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Car_no" class="control-label"></label>
                <input asp-for="Car_no" class="form-control" />
                <span asp-validation-for="Car_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model_Name" class="control-label"></label>
                <input asp-for="Model_Name" class="form-control" />
                <span asp-validation-for="Model_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car_age" class="control-label"></label>
                <input asp-for="Car_age" class="form-control" />
                <span asp-validation-for="Car_age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car_base_price" class="control-label"></label>
                <input asp-for="Car_base_price" class="form-control" />
                <span asp-validation-for="Car_base_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car_insurence_price" class="control-label"></label>
                <input asp-for="Car_insurence_price" class="form-control" />
                <span asp-validation-for="Car_insurence_price" class="text-danger"></span>
            </div>
           
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary" >Create </button>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
